@brand-primary : #3A9D23;
@brand-secondary : white;

@navbar-logo: url('~/Images/logo_blanc.png'); // Logo ou bien @navbar-logo: none; // Pas de logo
@navbar-logo-width: 270px; // Largeur du logo
@navbar-logo-padding-top: 7px; // Marge au-dessus du logo 


#brand-name {
    display: none;
}